src/conf/xml-resources/web-service-references/service/wsdl/exes.cloudapp.net/service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="service">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://exes.cloudapp.net:80/service?xsd=1" />
</xsd:schema>
</types>
<message name="deleteTransaction">
<part name="parameters" element="tns:deleteTransaction" />
</message>
<message name="deleteTransactionResponse">
<part name="parameters" element="tns:deleteTransactionResponse" />
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory" />
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse" />
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory" />
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse" />
</message>
<message name="addTransaction">
<part name="parameters" element="tns:addTransaction" />
</message>
<message name="addTransactionResponse">
<part name="parameters" element="tns:addTransactionResponse" />
</message>
<message name="updateTransaction">
<part name="parameters" element="tns:updateTransaction" />
</message>
<message name="updateTransactionResponse">
<part name="parameters" element="tns:updateTransactionResponse" />
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory" />
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse" />
</message>
<message name="getCategory">
<part name="parameters" element="tns:getCategory" />
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse" />
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser" />
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse" />
</message>
<message name="getMataUang">
<part name="parameters" element="tns:getMataUang" />
</message>
<message name="getMataUangResponse">
<part name="parameters" element="tns:getMataUangResponse" />
</message>
<message name="getTransaction">
<part name="parameters" element="tns:getTransaction" />
</message>
<message name="getTransactionResponse">
<part name="parameters" element="tns:getTransactionResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="service">
<operation name="deleteTransaction">
<input wsam:Action="http://WS/service/deleteTransactionRequest" message="tns:deleteTransaction" />
<output wsam:Action="http://WS/service/deleteTransactionResponse" message="tns:deleteTransactionResponse" />
</operation>
<operation name="updateCategory">
<input wsam:Action="http://WS/service/updateCategoryRequest" message="tns:updateCategory" />
<output wsam:Action="http://WS/service/updateCategoryResponse" message="tns:updateCategoryResponse" />
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://WS/service/deleteCategoryRequest" message="tns:deleteCategory" />
<output wsam:Action="http://WS/service/deleteCategoryResponse" message="tns:deleteCategoryResponse" />
</operation>
<operation name="addTransaction">
<input wsam:Action="http://WS/service/addTransactionRequest" message="tns:addTransaction" />
<output wsam:Action="http://WS/service/addTransactionResponse" message="tns:addTransactionResponse" />
</operation>
<operation name="updateTransaction">
<input wsam:Action="http://WS/service/updateTransactionRequest" message="tns:updateTransaction" />
<output wsam:Action="http://WS/service/updateTransactionResponse" message="tns:updateTransactionResponse" />
</operation>
<operation name="addCategory">
<input wsam:Action="http://WS/service/addCategoryRequest" message="tns:addCategory" />
<output wsam:Action="http://WS/service/addCategoryResponse" message="tns:addCategoryResponse" />
</operation>
<operation name="getCategory">
<input wsam:Action="http://WS/service/getCategoryRequest" message="tns:getCategory" />
<output wsam:Action="http://WS/service/getCategoryResponse" message="tns:getCategoryResponse" />
</operation>
<operation name="getUser">
<input wsam:Action="http://WS/service/getUserRequest" message="tns:getUser" />
<output wsam:Action="http://WS/service/getUserResponse" message="tns:getUserResponse" />
</operation>
<operation name="getMataUang">
<input wsam:Action="http://WS/service/getMataUangRequest" message="tns:getMataUang" />
<output wsam:Action="http://WS/service/getMataUangResponse" message="tns:getMataUangResponse" />
</operation>
<operation name="getTransaction">
<input wsam:Action="http://WS/service/getTransactionRequest" message="tns:getTransaction" />
<output wsam:Action="http://WS/service/getTransactionResponse" message="tns:getTransactionResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://WS/service/helloRequest" message="tns:hello" />
<output wsam:Action="http://WS/service/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="servicePortBinding" type="tns:service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deleteTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMataUang">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="service">
<port name="servicePort" binding="tns:servicePortBinding">
<soap:address location="http://exes.cloudapp.net:80/service" />
</port>
</service>
</definitions>