src/conf/xml-resources/web-service-references/service/wsdl/exes.cloudapp.net_80/service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="addCategory" type="tns:addCategory" />

<xs:element name="addCategoryResponse" type="tns:addCategoryResponse" />

<xs:element name="addTransaction" type="tns:addTransaction" />

<xs:element name="addTransactionResponse" type="tns:addTransactionResponse" />

<xs:element name="deleteCategory" type="tns:deleteCategory" />

<xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse" />

<xs:element name="deleteTransaction" type="tns:deleteTransaction" />

<xs:element name="deleteTransactionResponse" type="tns:deleteTransactionResponse" />

<xs:element name="getCategory" type="tns:getCategory" />

<xs:element name="getCategoryResponse" type="tns:getCategoryResponse" />

<xs:element name="getMataUang" type="tns:getMataUang" />

<xs:element name="getMataUangResponse" type="tns:getMataUangResponse" />

<xs:element name="getTransaction" type="tns:getTransaction" />

<xs:element name="getTransactionResponse" type="tns:getTransactionResponse" />

<xs:element name="getUser" type="tns:getUser" />

<xs:element name="getUserResponse" type="tns:getUserResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="updateCategory" type="tns:updateCategory" />

<xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse" />

<xs:element name="updateTransaction" type="tns:updateTransaction" />

<xs:element name="updateTransactionResponse" type="tns:updateTransactionResponse" />

<xs:complexType name="deleteCategory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="idCategory" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="idJenis" type="xs:int" />
<xs:element name="nama" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransaction">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionWrapper" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionWrapper">
<xs:sequence>
<xs:element name="all" type="tns:transaction" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="list" type="tns:transaction" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0" />
<xs:element name="deskripsi" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="idKategori" type="xs:int" minOccurs="0" />
<xs:element name="idUser" type="xs:int" minOccurs="0" />
<xs:element name="jenis" type="xs:int" minOccurs="0" />
<xs:element name="mataUang" type="xs:string" minOccurs="0" />
<xs:element name="tglTransaksi" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryWrapper" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryWrapper">
<xs:sequence>
<xs:element name="list" type="tns:category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="idUser" type="xs:int" minOccurs="0" />
<xs:element name="jenis" type="xs:int" minOccurs="0" />
<xs:element name="nama" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTransaction">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="nominal" type="xs:double" />
<xs:element name="deskripsi" type="xs:string" minOccurs="0" />
<xs:element name="idJenis" type="xs:int" />
<xs:element name="idCategory" type="xs:int" />
<xs:element name="matauang" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransaction">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMataUang">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMataUangResponse">
<xs:sequence>
<xs:element name="return" type="tns:mataUangWrapper" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mataUangWrapper">
<xs:sequence />
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="idCategory" type="xs:int" />
<xs:element name="idJenis" type="xs:int" />
<xs:element name="nama" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTransaction">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="matauang" type="xs:string" minOccurs="0" />
<xs:element name="nominal" type="xs:double" />
<xs:element name="deskripsi" type="xs:string" minOccurs="0" />
<xs:element name="idCategory" type="xs:int" />
<xs:element name="idJenis" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>